# Archivos de bases de datos de prueba

data\sabana.duckdb
data\sabana.duckdb.wal

# Archivos de guardado automático DrawIO

.$modelo_brechas_seguridad.drawio.dtmp


# Respaldos y temporales de draw.io
*.drawio.bkp
*.drawio.dtmp
.$*

# Archivos temporales de Microsoft Office / LibreOffice
~$*
.~lock.*#

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs y editores
.idea/
.vscode/
.dbeaver/
*.swp

# Carpetas de datos locales sin versionar
datos/

# Certificados
PostgreSQL_Camilo_Ardila_000543367\Scripts_Camilo_Ardila_000543367\global-bundle.pem